/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* Components */
@import url("components/header.css");
@import url("components/exist-bar.css");
@import url("components/showhide.css");
@import url("components/frames.css");
@import url("components/navbar.css");
@import url("components/shiny.css");


body {
  background-color: rgb(5, 5, 5);
  color: #666666;
  font-family: Open Sans;
}

section {
  grid-column: 3 / span 8;
}

.header {
	background: transparent;
	height: 70px;
	position: fixed;
	top: 0; right: 10%; left: 10%;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 15px;
}

.expanded {
  grid-column: 1 / span 12;
}

.centered-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1, h2 {
  font-family: "Permanent Marker";
  color: white;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover {
  color: #666666;
  text-decoration: none;
}

#quote {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 100px;
}

#quote h5 {
  line-height: 2;
  font-style: normal;
}

#poem {
  line-height: 3;
  text-align: left;
  margin-bottom: 200px;
}

#dicio {
  margin-top: 200px;
  margin-bottom: 150px;
}

#bye {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  color: rgb(15, 15, 15);
}

#bye:hover {
  color: #333333;
}

.term {
  margin-bottom: 50px;
}

@media (pointer: none) {
  #bye:active {
    color: #333333;
  }

  a:active {
    color: #666666;
    text-decoration: none;
  }
}