/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Components */
@import url('components/banner.css');
@import url('components/exist-bar.css');
@import url('components/footer.css');
@import url('components/buttons.css');
@import url('components/showhide.css');
@import url('components/slider.css');


/* Custom design below! */

body {
  background-color: rgb(5, 5, 5);
  color: #666666;
  font-family: Open Sans;
}

h1, h2 {
  font-family: 'Permanent Marker';
  color: white;
}

a {
  text-decoration: none;
  color: rgb(15, 15, 15);
}

a:hover {
  color: #333333;
  text-decoration: none;
}


.quote {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.quote h5 {
  line-height: 2;
  margin-bottom: 30px;
}

.poem {
  margin-top: 200px;
  line-height: 3;
  text-align: center;
}

.bye {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(15, 15, 15);
}

.bye:hover {
  color: #333333;
}

.exist-page {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 150px;
}


.dicio{
  margin-top: 200px;
  margin-bottom: 150px;
}
