/*make this code responsive for mobile*/

.exist-bar { 
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

.scroll {
  white-space: nowrap; 
  overflow-x: auto; 
  -webkit-overflow-scrolling: touch; 
  -ms-overflow-style: -ms-autohiding-scrollbar; 
}

.scroll::-webkit-scrollbar {
  display: none; 
}

.extra {
  display: none;
}

h1:hover .extra  {
  display: inline-block;
  font-size: 3vh;
  color: red;
}
