/*make this code responsive for mobile*/

.exist-bar, .exist-bar2 { 
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

.scroll {
  white-space: nowrap; 
  overflow-x: auto; 
  -webkit-overflow-scrolling: touch; 
  -ms-overflow-style: -ms-autohiding-scrollbar; 
}

.scroll::-webkit-scrollbar {
  display: none; 
}

.extra, .extra1, .extra2, .extra3, .extra4 {
  display: none;
}

h1:hover .extra, h1:hover .extra1, h1:hover .extra2, h1:hover .extra3, h1:hover .extra4  {
  display: inline-block;
  font-size: 3vh;
  color: red;
}
