.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  color: #333333;
  position: fixed;
  top: 0;
  left: 10%;
  right: 10%;
  height: 70px;
  z-index: 1000;
}

.nav-links a {
  color: #333333;
}

.logo {
  color: #333333;
  text-shadow: black;
  font-family: "Permanent Marker";
  transform: rotate(-8deg);
  font-size: 20px;
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 20px;
}

.menu ul {
    padding-inline-start: 20px;
  }