#textarea, #textarea2, #textarea3, #textarea4, #textarea5 {
    /* hide by default: */
    display: none;
}

/* when the checkbox is checked, show the neighbouring #textarea element: */
#textAreaToggle:checked + #textarea {
    display: block;
}

/* when the checkbox is checked, show the neighbouring #textarea element: */
#textAreaToggle2:checked + #textarea2 {
    display: block;
}

/* when the checkbox is checked, show the neighbouring #textarea element: */
#textAreaToggle3:checked + #textarea3 {
    display: block;
}

/* when the checkbox is checked, show the neighbouring #textarea element: */
#textAreaToggle4:checked + #textarea4 {
    display: block;
}

/* when the checkbox is checked, show the neighbouring #textarea element: */
#textAreaToggle5:checked + #textarea5 {
    display: block;
}

/* position the checkbox off-screen: */
input[type="checkbox"] {
    position: absolute;
    left: -1000px;
}

/* Aesthetics only, adjust to taste: */
label {
    display: block;
}

/* when the checkbox is unchecked (its default state) show the text
   'Show ' in the label element: */
#textAreaToggle + #textarea + label::before {
    content: '+ ';
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}

/* when the checkbox is checked 'Hide ' in the label element; the
   general-sibling combinator '~' is required for a bug in Chrome: */
#textAreaToggle:checked ~ #textarea + label::before {
    content: '-';
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}


/* when the checkbox is unchecked (its default state) show the text
   'Show ' in the label element: */
#textAreaToggle2 + #textarea2 + label::before {
    content: '+ ';
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}

/* when the checkbox is checked 'Hide ' in the label element; the
   general-sibling combinator '~' is required for a bug in Chrome: */
#textAreaToggle2:checked ~ #textarea2 + label::before {
    content: '-';
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}


/* when the checkbox is unchecked (its default state) show the text
   'Show ' in the label element: */
#textAreaToggle3 + #textarea3 + label::before {
    content: '+ ';
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}

/* when the checkbox is checked 'Hide ' in the label element; the
   general-sibling combinator '~' is required for a bug in Chrome: */
#textAreaToggle3:checked ~ #textarea3 + label::before {
    content: '-';
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}


/* when the checkbox is unchecked (its default state) show the text
   'Show ' in the label element: */
#textAreaToggle4 + #textarea4 + label::before {
    content: '+ ';
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}

/* when the checkbox is checked 'Hide ' in the label element; the
   general-sibling combinator '~' is required for a bug in Chrome: */
#textAreaToggle4:checked ~ #textarea4 + label::before {
    content: '-';
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}

/* when the checkbox is unchecked (its default state) show the text
   'Show ' in the label element: */
#textAreaToggle5 + #textarea5 + label::before {
    content: '+ ';
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}

/* when the checkbox is checked 'Hide ' in the label element; the
   general-sibling combinator '~' is required for a bug in Chrome: */
#textAreaToggle5:checked ~ #textarea5 + label::before {
    content: '-';
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}
