#textarea, #textarea2, #textarea3 {
    display: none;
}

#textAreaToggle:checked + #textarea {
    display: block;
}

#textAreaToggle2:checked + #textarea2 {
    display: block;
}

#textAreaToggle3:checked + #textarea3 {
    display: block;
}

input[type="checkbox"] {
    position: absolute;
    left: -1000px;
}

label {
    display: block;
}

#textAreaToggle + #textarea + label::before {
    content: 'Read more +';
    font-size: small;
    cursor: pointer;
}

#textAreaToggle:checked ~ #textarea + label::before {
    content: 'Read less -';
    font-size: small;
    cursor: pointer;
}

#textAreaToggle2 + #textarea2 + label::before {
    content: 'Read more +';
    font-size: small;
    cursor: pointer;
}

#textAreaToggle2:checked ~ #textarea2 + label::before {
    content: 'Read less -';
    font-size: small;
    cursor: pointer;
}

#textAreaToggle3 + #textarea3 + label::before {
    content: 'Read more +';
    font-size: small;
    cursor: pointer;
}

#textAreaToggle3:checked ~ #textarea3 + label::before {
    content: 'Read less -';
    font-size: small;
    cursor: pointer;
}

